
h1 {
  font-family: 'Bangers', cursive;
}

h3 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

em, li {
  font-family: 'Roboto', sans-serif;
}

hr {
  height: 10px !important;
  border-radius: 5px !important;
  margin: auto !important;
  width: 50% !important;
  margin-bottom: 20px !important;
}

#main {
  padding-bottom: 50px;
  margin-bottom: 20px;
  height: 720px;
  background-position: center center;
  background-image: url("https://images.pexels.com/photos/207779/pexels-photo-207779.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

#text-container {
  margin-top: 100px;
  color: rgba(245, 239, 239, 0.8);
}



.icon {
  width: 400px;
}

#icons-container {
  margin: 50px auto 50px auto;
}

.animation {
  transition: transform .2s;
}

.animation:hover {
  transform: scale(1.1);
}

.review-image {
  width: 200px;
  border-radius: 50%;
  margin-right: 10px;
}

#reviews {
  background-color: #FDF5E8;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-control-next-icon {
  background-image: url("https://www.flaticon.com/svg/vstatic/svg/271/271228.svg?token=exp=1619450420~hmac=eddf27617dbbc73c4bde70f3f7a2f3d6") !important;
}

.carousel-control-prev-icon {
  background-image: url("https://www.flaticon.com/svg/vstatic/svg/271/271220.svg?token=exp=1619450353~hmac=46906b436f2ce8515b5e9c2d52031aa1") !important;
}

#pricing {
  padding: 5% 10%;
  text-align: center;
}

.pricing-header {
  font-size: 3rem;
}

.pricing-column {
  padding: 3% 2%;
}

.card-header {
  background-color: #FDF5E8 !important;
}

.btn-background {
  background-color: #FDF5E8 !important;
}

.btn-outline-secondary:hover {
  background-color: #FDF5E8 !important;
  border: none;
  color: black !important;
}

#footer {
  background-color: #FDF5E8 !important;
  padding: 3% 3%;
}

.social-icons {
  margin: 10px 5px;
  opacity: 0.5;
}

.social-icons:hover {
  opacity: 1;
}


